div.products__viewOption__input {
  width: 100%;

  p.input__text {
    display: flex;
    justify-content: flex-end;
    select#number {
      height: 24px;
      font-size: 14px;
      width: 40px;
      transform: translateY(-2px);
      margin-left: 5px;
      margin-right: 5px;
    }
    span.input__number {
      margin-left: 3px;
    }
  }
}
